<html ng-app="youottawa">
	<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="dist/semantic.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="dist/semantic.min.js"></script>
	<script src="scripts/semanticsInit.js"></script>

	<script src="scripts/index.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

	</head>

	<body ng-controller="mainController">
		<header class="maroon-bg header-height border-bottom flex centered">
			<img id="header-logo" src="images/youOttawa.png">
			<img id="profile" data-html="
			<div class='ui grid content'>
				<div class='five wide column no-margin-top no-margin-bottom'>
					<img class='profilePic' src='images/rohan.jpg'>
				</div>
				<div class='eleven wide column no-margin-top no-margin-bottom'>
					<table class='studentInfo'>
						<tr style='padding-bottom:5px;'>
							<td>Name:</td>
							<td>Rohan Kanjani<td>
						</tr>
						<tr>
							<td style='padding-right:5px;'>Student #:</td>
							<td>1234567<td>
						</tr>
						<tr>
							<td>Email:</td>
							<td>rkanj123@uottawa.ca<td>
						</tr>
						<tr>
							<td>Faculty of Arts</td>
						</tr>
						<tr>
							<td>Major - English</td>
						</tr>
					</table>
				</div>
			</div>"
			src="images/profile.png">
		</header>

		<div class="ui grid content">

		<div id="left" class="twelve wide column">

			<div id="calAndKey" class="flex horizontal">
				<div id="calendar" class="ui segment">
					<h1> Google Calendar </h1>
					<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tmeta088%40uottawa.ca&amp;color=%235F6B02&amp;ctz=America%2FToronto" style="border-width:0" width="500" height="300" frameborder="0" scrolling="no"></iframe>

				</div>

				<div id="keyLinks" class="ui segment three wide column">

					<div ng-repeat="link in keyLinks" class="ui segment application raised" data-content="{{link.description}}" href="{{url}}">
					    <div class="content">
					      <a class="header" ng-href="{{link.url}}">{{link.title}}</a>
					      	<div class="ui star rating" data-rating="0" data-max-rating="1">
					        </div>
					    </div>
				  	</div>


				</div>
			</div>

			<div id="gmailRow" class="flex horizontal">
				<div id="gmail" class="ui segment">
					<h1>Gmail API demo</h1>

				    <button id="authorize-button" style="display: block;">Authorize</button>
    				<button id="signout-button" style="display: block;">Sign Out</button>

				      <table class="table table-striped table-inbox hidden">
				        <thead>
				          <tr>
				            <th>From</th>
				            <th>Subject</th>
				            <th>Date/Time</th>
				          </tr>
				        </thead>
				        <tbody></tbody>
				      </table>
				</div>
			</div>


			<div class="centered">

				<button id="appsToggle" class="ui toggle button width80p ">
				  View all applications
				</button>

			</div>

			<div id="applications" class="invisible">

				<div class="app-container ui segment flex-wrap">

				{{#each links}}

				  <div class="ui segment application raised" data-content="{{description}}" href="{{url}}">
				    <div class="content" >
				      <a class="header" href="{{url}}">{{title}}</a>
				      	<div class="ui star rating" data-rating="0" data-max-rating="1">
				        </div>
				    </div>
				  </div>

				{{/each}}

				</div>

			
			</div>

		</div>
			<div id="news" class="border-left four wide column flex vertical">
				<div class="feed border-bottom">Feed</div>

				<div class="ui divided comments">
				{{#each feed}}
				  <div class="comment">
				    <div class="content">
				      <a class="author" href="{{url}}">{{title}}</a>
				      <div class="metadata">
				        <div class="date">{{age}} via {{source}}</div>
				      </div>
				      <div class="text">
				        {{time}} at {{location}} 
				      </div>
				    </div>
				  </div>

				{{/each}}
				</div>
			</div>
		</div>
	</body>
	<script>
//GMAIL API

	// Client ID and API key from the Developer Console
      var CLIENT_ID = '504330624418-0afein99vhgpp1fselqu25ps8acapdb1.apps.googleusercontent.com';

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = 'https://www.googleapis.com/auth/gmail.readonly';

      var authorizeButton = document.getElementById('authorize-button');
      var signoutButton = document.getElementById('signout-button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          discoveryDocs: DISCOVERY_DOCS,
          clientId: CLIENT_ID,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          signoutButton.onclick = handleSignoutClick;
        });
      }

      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          signoutButton.style.display = 'block';
          displayInbox();
        } else {
          authorizeButton.style.display = 'block';
          signoutButton.style.display = 'none';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }
      /**
       * Displaying all the messages in the users inbox
       */
       function displayInbox() {
        var request = gapi.client.gmail.users.messages.list({
          'userId': 'me',
          'labelIds': 'INBOX',
          'maxResults': 10
        });
        request.execute(function(response) {
          $.each(response.messages, function() {
            var messageRequest = gapi.client.gmail.users.messages.get({
              'userId': 'me',
              'id': this.id
            });
            messageRequest.execute(appendMessageRow);
          });
        });
      }
      function appendMessageRow(message) {
        $('.table-inbox tbody').append(
          '<tr>\
            <td>'+getHeader(message.payload.headers, 'From')+'</td>\
            <td>\
              <a href="#message-modal-' + message.id +
                '" data-toggle="modal" id="message-link-' + message.id+'">' +
                getHeader(message.payload.headers, 'Subject') +
              '</a>\
            </td>\
            <td>'+getHeader(message.payload.headers, 'Date')+'</td>\
          </tr>'
        );
        $('body').append(
          '<div class="modal fade" id="message-modal-' + message.id +
              '" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">\
            <div class="modal-dialog modal-lg">\
              <div class="modal-content">\
                <div class="modal-header">\
                  <button type="button"\
                          class="close"\
                          data-dismiss="modal"\
                          aria-label="Close">\
                    <span aria-hidden="true">&times;</span></button>\
                  <h4 class="modal-title" id="myModalLabel">' +
                    getHeader(message.payload.headers, 'Subject') +
                  '</h4>\
                </div>\
                <div class="modal-body">\
                  <iframe id="message-iframe-'+message.id+'" srcdoc="<p>Loading...</p>">\
                  </iframe>\
                </div>\
              </div>\
            </div>\
          </div>'
        );
        $('#message-link-'+message.id).on('click', function(){
          var ifrm = $('#message-iframe-'+message.id)[0].contentWindow.document;
          $('body', ifrm).html(getBody(message.payload));
        });
      }
      function getHeader(headers, index) {
        var header = '';
        $.each(headers, function(){
          if(this.name === index){
            header = this.value;
          }
        });
        return header;
      }
      function getBody(message) {
        var encodedBody = '';
        if(typeof message.parts === 'undefined')
        {
          encodedBody = message.body.data;
        }
        else
        {
          encodedBody = getHTMLPart(message.parts);
        }
        encodedBody = encodedBody.replace(/-/g, '+').replace(/_/g, '/').replace(/\s/g, '');
        return decodeURIComponent(escape(window.atob(encodedBody)));
      }
      function getHTMLPart(arr) {
        for(var x = 0; x <= arr.length; x++)
        {
          if(typeof arr[x].parts === 'undefined')
          {
            if(arr[x].mimeType === 'text/html')
            {
              return arr[x].body.data;
            }
          }
          else
          {
            return getHTMLPart(arr[x].parts);
          }
        }
        return '';
      }
      </script>
	 <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</html>
