<html ng-app="youottawa">
	<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
	<script src="dist/semantic.min.js"></script>
	<script src="scripts/semanticsInit.js"></script>

	<script src="scripts/index.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">


	</head>

	<body ng-controller="mainController">
		<header class="maroon-bg header-height border-bottom flex centered">

		<div class="ui search absolute left20">
		  <div class="ui icon input height30">
		    <input class="prompt" type="text" placeholder="Search applications...">
		    <i class="search icon"></i>
		  </div>
		  <div class="results"></div>
		</div>

			<img id="header-logo" src="images/youOttawa.png">
			<img id="profile" data-html="
			<div class='ui grid content'>
				<div class='five wide column no-margin-top no-margin-bottom'>
					<img class='profilePic' src='images/rohan.jpg'>
				</div>
				<div class='eleven wide column no-margin-top no-margin-bottom'>
					<table class='studentInfo'>
						<tr style='padding-bottom:5px;'>
							<td>Name:</td>
							<td>Rohan Kanjani<td>
						</tr>
						<tr>
							<td style='padding-right:5px;'>Student #:</td>
							<td>1234567<td>
						</tr>
						<tr>
							<td>Email:</td>
							<td>rkanj123@uottawa.ca<td>
						</tr>
						<tr>
							<td>Faculty of Arts</td>
						</tr>
						<tr>
							<td>Major - English</td>
						</tr>
					</table>
				</div>
			</div>"
			src="images/profile.png">
		</header>

		<div class="ui grid content window-height">

		<div id="left" class="twelve wide column scroll">

			<div id="calAndKey" class="ui grid flex horizontal bottom-spacing">
				<div id="calendar" class="ui segment eleven wide column space">

				</div>

				<div id="keyLinks" class="ui segment items divided three wide column space text-center">
					<p class="large">Key Links</p>
					
					<div ng-repeat="link in keyLinks" class="ui item" data-content="%%link.description%%" href="%%url%%">
					   <div class="content">
						<a class="link-title" href="%%link.url%%">%%link.title%%</a>
				       </div>
				    </div>



				</div>
			</div>


			<div class="centered">

				<button id="appsToggle" class="ui toggle button width80p ">
				  View all applications
				</button>

			</div>

			<div id="applications" class="invisible flex">

				<div class="app-container ui segment flex-wrap">

				{{#each links}}

				  <div class="ui segment application raised" data-content="{{description}}" href="{{url}}">
				    <div class="content" >
				      <a class="header" href="{{url}}">{{title}}</a>
				      	<div class="ui star rating" data-rating="0" data-max-rating="1" ng-click="addLink({{@index}})">
				        </div>
				    </div>
				  </div>

				{{/each}}

				</div>

			
			</div>

		</div>




			<div id="news" class="border-left four wide column flex vertical window-height scroll">
				<div class="feed border-bottom">Feed</div>

				<div class="ui divided comments">
				{{#each feed}}
				  <div class="comment">
				    <div class="content">
				      <a class="author" href="{{url}}">{{title}}</a>
				      <div class="metadata">
				        <div class="date">{{age}} via {{source}}</div>
				      </div>
				      <div class="text">
				        {{time}} at {{location}} 
				      </div>
				    </div>
				  </div>

				{{/each}}
				</div>
			</div>
		</div>
	</body>
</html>