<html>
	<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="dist/semantic.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	<script src="dist/semantic.min.js"></script>

	<script src="scripts/index.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">


	</head>

	<body>
		<header class="maroon-bg header-height border-bottom flex centered">
			<img id="header-logo" src="images/youOttawa.png">
			<img id="profile" src="images/profile.png">
		</header>

		<div class="ui grid content">

			<div id="applications" class="twelve wide column">

<!-- 				<div class="ui items">
				  <div class="item">
				    <div class="ui small image">
				      <img src="/images/wireframe/image.png">
				    </div>
				    <div class="content">
				      <div class="header">Astrology Camp</div>
				      <div class="meta">
				        <span class="price">$1600</span>
				        <span class="stay">6 Weeks</span>
				      </div>
				      <div class="description">
				        <p></p>
				      </div>
				    </div>
				  </div>
				</div> -->

			</div>



			<div id="news" class="border-left four wide column flex vertical">
				<div class="feed border-bottom">Feed</div>


				<div class="ui divided comments">

				{{#each feed}}
				  <div class="comment">
				    <div class="content">
				      <a class="author">{{title}}</a>
				      <div class="metadata">
				        <div class="date">{{age}} via {{source}}</div>
				        <div class="rating">
				          <i class="star icon"></i>
				        </div>
				      </div>
				      <div class="text">
				        At {{time}} happening at {{location}}
				      </div>
				    </div>
				  </div>

				{{/each}}


				  				 
				</div>


			</div>

		</div>
	</body>
</html>