<html ng-app="youottawa">
	<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="dist/semantic.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="dist/semantic.min.js"></script>
	<script src="scripts/semanticsInit.js"></script>

	<script src="scripts/index.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

	</head>

	<body ng-controller="mainController">
		<header class="maroon-bg header-height border-bottom flex centered">
			<img id="header-logo" src="images/youOttawa.png">
			<img id="profile" data-html="
			<div class='ui grid content'>
				<div class='five wide column no-margin-top no-margin-bottom'>
					<img class='profilePic' src='images/rohan.jpg'>
				</div>
				<div class='eleven wide column no-margin-top no-margin-bottom'>
					<table class='studentInfo'>
						<tr style='padding-bottom:5px;'>
							<td>Name:</td>
							<td>Rohan Kanjani<td>
						</tr>
						<tr>
							<td style='padding-right:5px;'>Student #:</td>
							<td>1234567<td>
						</tr>
						<tr>
							<td>Email:</td>
							<td>rkanj123@uottawa.ca<td>
						</tr>
						<tr>
							<td>Faculty of Arts</td>
						</tr>
						<tr>
							<td>Major - English</td>
						</tr>
					</table>
				</div>
			</div>"
			src="images/profile.png">
		</header>

		<div class="ui grid content">

		<div id="left" class="twelve wide column">

			<div id="calAndKey" class="flex horizontal">
				<div id="calendar" class="ui segment">
					<h1> Google Calendar </h1>
					<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tmeta088%40uottawa.ca&amp;color=%235F6B02&amp;ctz=America%2FToronto" style="border-width:0" width="500" height="300" frameborder="0" scrolling="no"></iframe>
				</div>

				<div id="keyLinks" class="ui segment three wide column">

					<div ng-repeat="link in keyLinks" class="ui segment application raised" data-content="{{link.description}}" href="{{url}}">
					    <div class="content">
					      <a class="header" ng-href="{{link.url}}">{{link.title}}</a>
					      	<div class="ui star rating" data-rating="0" data-max-rating="1">
					        </div>
					    </div>
				  	</div>

				</div>
			</div>

			<div id="gmailRow" class="flex horizontal">
				<div id="gmail" class="ui segment">
					<h1>Gmail API demo</h1>

				      <button id="authorize-button" class="btn btn-primary hidden">Authorize</button>

				      <table class="table table-striped table-inbox hidden">
				        <thead>
				          <tr>
				            <th>From</th>
				            <th>Subject</th>
				            <th>Date/Time</th>
				          </tr>
				        </thead>
				        <tbody></tbody>
				      </table>
				</div>
			</div>


			<div class="centered">

				<button id="appsToggle" class="ui toggle button width80p ">
				  View all applications
				</button>

			</div>

			<div id="applications" class="invisible">

				<div class="app-container ui segment flex-wrap">

				{{#each links}}

				  <div class="ui segment application raised" data-content="{{description}}" href="{{url}}">
				    <div class="content" >
				      <a class="header" href="{{url}}">{{title}}</a>
				      	<div class="ui star rating" data-rating="0" data-max-rating="1">
				        </div>
				    </div>
				  </div>

				{{/each}}

				</div>

			
			</div>

		</div>




			<div id="news" class="border-left four wide column flex vertical">
				<div class="feed border-bottom">Feed</div>

				<div class="ui divided comments">
				{{#each feed}}
				  <div class="comment">
				    <div class="content">
				      <a class="author" href="{{url}}">{{title}}</a>
				      <div class="metadata">
				        <div class="date">{{age}} via {{source}}</div>
				      </div>
				      <div class="text">
				        {{time}} at {{location}} 
				      </div>
				    </div>
				  </div>

				{{/each}}
				</div>
			</div>
		</div>
	</body>
</html>